<div class="call-widget">
    <p>{{sender_name}} has started a call! <a href="{{call_url}}" target="_blank" rel="noopener noreferrer">{{room_name}}</a></p>
    <button class="call-join-button">Join now</button>
    <div class="call-iframe-container" style="display: none;">
    </div>
</div>